.item {
  cursor: pointer;
  display: flex;
  width: 264px;
  height: 48px;
  padding: 6px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Grey-100, #CFCFCF);
  background: var(--white, #FFF);
  transition: .2s;
}

.item:hover {
  border-color: #878787;
}

.chosen {
  cursor: pointer;
  display: flex;
  width: 264px;
  height: 48px;
  padding: 6px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Grey-100, #D0AC80);
  background: var(--white, #FFF);
}

.text {
  color: var(--Grey-600, #575757);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Titillium Web;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.price {
  color: var(--Grey-500, #737373);
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Titillium Web;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.078px;
}