.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  color: var(--Grey-800, #0F0F0F);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Titillium Web;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.name {
  white-space: nowrap;
  gap: 4px;
  width: min-content;
  display: flex;
  align-items: flex-end;
}

.gabarite {
  color: var(--Grey-300, #9F9F9F);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Titillium Web;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.078px;
}